*{
	padding: 0;
	margin: 0;
}
main{
	width: 70%;
	margin: 0 auto;
}
.nav{
	width: 90%;
	height: 32px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav_img{
	float: left;
	width: 26px;
	background: url(../img/home_icon.png) no-repeat 50% 50%;
	padding: 10px 0 0 10px;
	height: 20px;
}
.nav ul{
	list-style: none;
}
#nav_i{
	background: url(../img/bg.png) 0 -430px no-repeat;
	float: left;
	padding: 5px 10px 10px 20px;
	text-decoration: none;
	color: #9a9a9a;
}
.article_main{
	float: left;
	clear: both;
	width: 60%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #dbdbdb;
	padding-bottom: 50px;
}
.article_title{
	padding-top: 10px;
}
h1{
	word-wrap: break-word;
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #494949;
	margin: 0;
	padding: 0 0 5px 0;
	line-height: 1.1;
	padding-left: 5px;
}
.article_content{
	
}
p{
	display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 5px;
}

footer{
	text-align: center;
	padding-top: 10px;
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #f0f3f5;
}